@import "../../../styles/Variables.module.scss";

$top_buffer: 55px;

nav.splashHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100vw;
  height: $top_buffer;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: $colorPrimary;
  // box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.1);

  button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 7px 12px;
    cursor: pointer;
    margin: 0 2px;
    transition: 0.3s;

    &:last-of-type {
      border-radius: 5px;
      border: 2px solid black;
      font-weight: bold;

      &:hover {
        background-color: white;
      }
    }
  }
}

section.authModalWrapper {
  width: 100vw;
  height: 100vh;
  z-index: 11;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s ease;
  cursor: pointer;

  &.open {
    background-color: rgba(0, 0, 0, 0.5);

    .authModal {
      margin-left: calc(100vw - 600px);
    }
  }

  .authModal {
    width: 600px;
    height: 100vh;
    background-color: white;
    margin-left: 100vw;
    transition: margin-left 0.3s ease;
    overflow: hidden;
    cursor: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > span {
      width: 100%;
      margin: 15px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;

      a {
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(184, 184, 184);
        transition: 0.2s;
        margin-top: 8px;

        &:hover {
          color: grey;
        }
      }

      p {
        color: grey;
        cursor: pointer;
        font-size: 2rem;
        transition: 0.2s;

        &:hover {
          color: black;
        }
      }
    }

    .backgroundText {
      color: $colorPrimary;
      opacity: 0.1;
      font-size: 20rem;
      position: absolute;
      transform: rotate(-90deg);
      bottom: 22rem;
      user-select: none;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 0 80px 8vh;
      transition: 0.2s;
      z-index: 12;

      h2 {
        font-size: 2rem;
        margin-bottom: 20px;
      }

      span {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          margin-bottom: 6px;
          font-size: 0.9rem;
          color: grey;
        }

        input {
          background-color: white;
          border: 2px solid transparent;
          padding: 8px 14px;

          &:hover {
            border-color: grey;
          }

          &:focus {
            border-color: $colorPrimary;
          }
        }
      }

      input {
        height: 55px;
        font-size: 1.4rem;
        border-radius: 5px;
        transition: 0.2s;
        width: 100%;
        box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.2);

        &[type="submit"] {
          background-color: $colorPrimary;
          border: 2px solid $colorPrimary;
          color: white;
          font-weight: bold;
          cursor: pointer;
          margin-top: 15px;

          &:hover {
            background-color: white;
            color: $colorPrimary;
          }
        }
      }

      & > p {
        text-align: center;
        margin-top: 20px;

        a {
          text-decoration: underline;
          color: grey;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            color: $colorPrimary;
          }
        }
      }
    }
  }
}

main.splashContent {
  max-width: 100vw;
  margin-top: $top_buffer;
  display: flex;
  flex-direction: column;
}
