@import "../../Variables.module.scss";

nav.splashHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100vw;
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}

section.authModalWrapper {
  width: 100vw;
  height: 100vh;
  z-index: 11;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s ease;
  cursor: pointer;

  &.open {
    background-color: rgba(0, 0, 0, 0.5);

    .authModal {
      margin-left: calc(100vw - 600px);
    }
  }

  .authModal {
    width: 600px;
    height: 100vh;
    background-color: white;
    margin-left: 100vw;
    transition: margin-left 0.3s ease;
    overflow: hidden;
    cursor: auto;

    h1 {
      color: $colorPrimary;
      font-size: 20rem;
      position: absolute;
      transform: rotate(-90deg);
      bottom: 22rem;
      user-select: none;
    }
  }
}
